<%- include('header') -%>
<div id="heading" class="box">
  <h1>About</h1>

</div>
<div class="box">
  <p>
    about about about
    about about about
    about about about
    about about about
    about about about
    about about about
  </p>

</div>
<%- include('footer') -%>
